<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DashBoard</title>
</head>
<body>
<div class="dashboard-cards">

    <div class="box">

        <h2 id="totalContact">0</h2>
        <p>Total Contacts</p>

    </div>

    <div class="box">

        <h2 id="newContact">0</h2>
        <p>New Contacts</p>

    </div>

</div>

<h1>Contact DashBoard</h1>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Subject</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    </thead>

    <tbody id="tabledata">

    </tbody>

</table>
<input
        type="number"
        id="searchId"
        placeholder="Enter ID">

<button
        onclick="searchData()">

    Search

</button>

<button
        onclick="loadData()">

    Show All

</button>

<script>
    document.getElementById(
        "totalContact"
    ).innerText=data.length;

    let newCount=

        data.filter(
            x=>x.status==="New"
        ).length;

    document.getElementById(
        "newContact"
    ).innerText=newCount;

    async function searchData(){

        const id=
            document.getElementById(
                "searchId"
            ).value;

        const response=
            await fetch(
                `/api/contact/${id}`
            );

        const contact=
            await response.json();

        let row=`

<tr>

<td>${contact.id}</td>
<td>${contact.name}</td>
<td>${contact.email}</td>
<td>${contact.subject}</td>
<td>${contact.phone}</td>
<td>${contact.status}</td>

</tr>

`;

        document
            .getElementById(
                "tabledata"
            )
            .innerHTML=row;

    }


    async function editData(id){

        let name = prompt("Enter new name");
        let email = prompt("Enter new email");
        let phone = prompt("Enter new phone");
        let subject = prompt("Enter subject");

        const data = {
            name:name,
            email:email,
            phone:phone,
            subject:subject
        };

        await fetch(`/api/contact/${id}`,{
            method:"PUT",
            headers:{
                "Content-Type":"application/json"
            },
            body:JSON.stringify(data)
        });

        loadData();
    }

    async function deleteData(id){

        await fetch(`/api/contact/${id}`,{
            method:"DELETE"
        });

        loadData();
    }

    async function loadData(){

        const response = await fetch("/api/contacts");
        const data = await response.json();

        let row = "";

        data.forEach(contact=>{

            row += `
        <tr>

            <td>${contact.id}</td>
            <td>${contact.name}</td>
            <td>${contact.email}</td>
            <td>${contact.subject}</td>
            <td>${contact.phone}</td>
            <td>${contact.status}</td>

            <td>
                <button onclick="deleteData(${contact.id})">
                    Delete
                </button>
            </td>

            <td>
                <button onclick="editData(${contact.id})">
                    Edit
                </button>
            </td>

        </tr>
        `;
        });

        document.getElementById("tabledata").innerHTML = row;
    }

    loadData();

</script>

</body>
</html>